### Lions ELT Project Analysis

#### To Explore:
- Avg name length
- Most common names
- Closest people in db to each other
- Names of people by dob
- Easiest passwords to crack (least complex)

In [21]:
import duckdb
import pandas as pd
import ipykernel

In [22]:
# connect to duckdb
con = duckdb.connect("/Users/adambeaudet/Github/restore/transform/restore/random_people.duckdb")

# print all columns of pandas df
pd.set_option('display.max_columns', None)

In [23]:
# average password length by nationality
people_df = con.execute("select nationality, count(*) as people, avg(len(password)) as avg_password_length from stg_people group by 1 order by 3 desc").df()
people_df

   nationality  people  avg_password_length
0           FI      12             6.833333
1           NL      10             6.800000
2           BR       9             6.777778
3           DE       7             6.571429
4           US      10             6.500000
5           IR      13             6.461538
6           TR      13             6.461538
7           NZ      16             6.437500
8           NO      14             6.428571
9           DK      11             6.363636
10          ES      14             6.214286
11          IN      12             6.166667
12          AU      13             6.153846
13          MX       7             6.142857
14          CH      18             6.111111
15          UA      16             6.000000
16          GB      14             5.928571
17          IE      10             5.900000
18          FR      11             5.727273
19          CA      12             5.500000
20          RS       7             5.285714

In [26]:
password_length = con.execute("select address_country, avg(len(first_name)) as average_name_length from people_mart group by 1 order by 2 desc").df()
password_length

   address_country  average_name_length
0           Mexico             7.285714
1          Ukraine             7.125000
2           Serbia             6.857143
3            Spain             6.785714
4      Netherlands             6.400000
5            India             6.250000
6           Brazil             6.111111
7          Germany             6.000000
8        Australia             5.923077
9           Norway             5.785714
10  United Kingdom             5.642857
11         Denmark             5.636364
12     Switzerland             5.500000
13         Ireland             5.500000
14          Canada             5.416667
15          France             5.363636
16     New Zealand             5.312500
17         Finland             5.250000
18   United States             5.200000
19          Turkey             5.076923
20            Iran             4.846154